# requirements.txt
#python -m pip install --upgrade pip
snowflake-connector-python
#charset-normalizer==22.2.2
#snowflake-connector-python
#cffi==1.15.0
#pyarrow==6.0.1
#snowflake-connector-python==2.7.9
